<!-- Slider main container -->
<div class="swiper w-full h-[300px]" #swiperDivBook>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    @for (card of cards(); track $index) {
      <div class="swiper-slide">
        <book-card [card]="card"></book-card>
      </div>
    }

  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
