<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <div class="bg-base-300 rounded-lg overflow-hidden">
    <div class="md:flex">
      <!-- Sección izquierda (Imagen de perfil) -->
      <div class="md:w-1/3 p-6 border-b md:border-b-0 md:border-r">
        <div class="text-center">
          <div class="mx-auto relative w-32 h-32 rounded-full bg-neutral-content mb-4 overflow-hidden">
            <img
              [src]="image() || 'assets/default-avatar.png'"
              class="w-full h-full object-cover"
            >

          </div>
          <p class="text-xs">Formato: .jpg o .png</p>
          <p class="text-xs ">Tamaño máximo: 500 KB</p>
          <input
            type="file"
            accept=".jpg,.png"
            class="file-input file-input-bordered w-full mt-4"
            (change)="onFileChange($event)"
          />
        </div>
      </div>

      <!-- Sección derecha (Datos del usuario) -->
      <div class="md:w-2/3 p-6">
        <div class="flex justify-between items-start mb-6">
          <h2 class="text-2xl font-bold  ">Mi perfil</h2>
          <a
            routerLink="edit"
            class="cursor-pointer hover:text-primary transition-colors"
            title="Editar"
          >
            <i-lucide [img]="editIcon"></i-lucide>
          </a>
        </div>

        <div class="divider"></div>

        <div class="space-y-4">
          <div>
            <label class="block text-lg font-medium">Nombre de usuario</label>
            <p class="mt-1 text-sm">{{ user()?.userName }}</p>
          </div>
          <div>
            <label class="block text-lg font-medium ">Email</label>
            <p class="mt-1 text-sm ">{{ user()?.email }}</p>
          </div>
          <div>
            <label class="block text-lg font-medium ">Miembro desde</label>
            <p class="mt-1 text-sm ">{{ memberSince }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
