<ul class="space-y-2 rounded-box p-4">
@if ( userHistory() ) {

  @for (item of userHistory(); track $index) {
    <li class="flex flex-col sm:flex-row sm:items-center gap-4 p-3 bg-base-100 hover:bg-base-200 rounded-lg transition-colors text-center sm:text-left">

      <!-- Imagen -->
      <img
        class="size-16 sm:size-10 rounded-box object-cover mx-auto sm:mx-0"
        [src]="item.image || 'assets/default-book-cover.jpg'"
        [alt]="'Portada de ' + item.title"
      />

      <!-- Contenido -->
      <div class="flex-1 min-w-0">
        <a
          [routerLink]="['/library', item.idBook]"
          class="block text-sm font-semibold hover:text-primary truncate"
        >
          {{ item.title }}
        </a>
        <a
          [routerLink]="['/library', item.idBook, item.idChapter]"
          class="block text-xs hover:text-primary mt-1 truncate"
        >
          {{ item.nameChapter }}
        </a>
      </div>

      <!-- Fecha -->
      <div class="text-xs sm:text-right">
        {{ item.readAt | relativeTime | titlecase }}
      </div>
    </li>
  }

}@else {
  <li class="p-6 text-center">
      <i-lucide [img]="history" class="w-8 h-8 mx-auto mb-2"></i-lucide>
      <p>No hay registros recientes.</p>
  </li>
}
</ul>
